/source/.idea/
.DS_Store
.idea/inspectionProfiles/Project_Default.xml
.idea/scheduler.iml
.idea/shelf/
.idea
cloud_sql_proxy
source/.DS_Store
*.pyc
venv/pyvenv.cfg
venv/pyvenv.cfg
venv/Scripts/activate
venv/Scripts/Activate.ps1
venv/Scripts/deactivate.bat
venv/Scripts/python.exe
venv/Scripts/pythonw.exe
.idea/fpa_scheduler.iml
.idea/misc.xml
venv/Scripts/activate.bat
.idea/fpa_scheduler.iml
.idea/misc.xml
!/source/.idea/
source/scheduler/migrations/0013_delete_providerlocationmaxform.py
source/scheduler/migrations/0014_auto_20200812_1804.py
source/static/bootstrap_datepicker_plus/
/source/env/
/source/.idea/
/source/env/
