{% extends "scheduler/base.html" %}

{% block breadcrumb_app %}<li class="breadcrumb-item" aria-current="page"><a href="{% url 'scheduler:index' %}"}>Scheduler</a></li>{% endblock %}

{% block content %}

    <h1>Scheduler</h1>
    <p>Here is where we will put the scheduler controls and functions.</p>

    <ul>
    <li><a href="{% url 'scheduler:provider-index' %}">Providers</a></li>
    <li><a href="{% url 'scheduler:location-index' %}">Locations</a></li>
    </ul>

    <br><br><br>
    <p>Reference</p>
    <ul>
    <li><a href="{% url 'names:index' %}">Names</a></li>
    <li><a href="{% url 'polls:index' %}">Polls</a></li>
    </ul>

{% endblock %}
