{% extends "scheduler/base.html" %}
{% load static %}

{% block breadcrumb_app %}<li class="breadcrumb-item" aria-current="page"><a href="{% url 'scheduler:index' %}"}>Scheduler</a></li>{% endblock %}
{% block breadcrumb_page %}<li class="breadcrumb-item" active><a href="{% url 'scheduler:preference-index' %}"}>Preferences</a></li>{% endblock %}

{% block content %}

    <h1>Preferences</h1>

    <p>Click on a provider name to see their scheduling preferences.</p>
    <br>

    {% if provider_list %}

        <div id="accordion">

            {% for provider in provider_list %}
                <div class="card">

                    <div class="card-header" id="heading_{{ provider.abbrev }}">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_{{ provider.abbrev }}" aria-expanded="false" aria-controls="collapse_{{ provider.abbrev }}">
                                {{ provider }} - {{ provider.abbrev }}
                            </button>
                        </h5>
                    </div>

                    <div id="collapse_{{ provider.abbrev }}" class="collapse" aria-labelledby="heading_{{ provider.abbrev }}" data-parent="#accordion">
                      <div class="card-body">

                          {% block preference_blocks %}
                          {% include "scheduler/preference_blocks_workingdays.html" %}
                          {% include "scheduler/preference_blocks_plm_multi.html" %}
                          {% include "scheduler/preference_blocks_vacationdays_multi.html" %}
                          {% endblock %}

                      </div>
                    </div>

                </div>
            <br>
            {% endfor %}

        </div>

    {% else %}
        <p>No names in list.</p>
    {% endif %}

    <br>
    <br>


{% endblock %}
