{% load static %}

<!-- WORKING DAYS PER WEEK -->

{% if provider %}
     <table class="table">
        <thead>
        <tr>
            <th>Working Days Per Week: &nbsp;&nbsp; {{ provider.days_per_week }} </th>
            <td align="right"><a href="{% url 'scheduler:provider-update' provider.id %}"><img alt="edit" src="{% static 'scheduler/img/pencil.png' %}" width=25" height="25">Edit</a></td>
        </tr>
        </thead>
         <tbody>
            <td></td><td></td>
         </tbody>
     </table>
{% else %}
    <p>No Provider Found.</p>
{% endif %}