{% extends "scheduler/base.html" %}

{% block breadcrumb_page %}
    <li class="breadcrumb-item"><a href="{% url 'scheduler:provider-index' %}"}>Providers</a></li>
    <li class="breadcrumb-item active">Delete</li>
{% endblock %}

{% block content %}

    <h1>Delete Provider Name</h1>
    <br>
    <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete the provider?  All of their preferences will also be deleted.</p>

        <h3>{{ object }} ( {{ object.abbrev }} )</h3>
        <br>
        <p class="alert alert-danger">THIS CANNOT BE UNDONE</p>
    <input class="btn btn-primary btn-delete" type="submit" value="Confirm Delete">
    </form>
    <br>
    <a href="{% url 'scheduler:provider-index' %}"}>Back to Provider List</a>

{% endblock %}
