{% extends "scheduler/base.html" %}
{% load static %}

{% block breadcrumb_app %}<li class="breadcrumb-item" aria-current="page"><a href="{% url 'scheduler:index' %}"}>Scheduler</a></li>{% endblock %}
{% block breadcrumb_page %}<li class="breadcrumb-item" active><a href="{% url 'scheduler:provider-index' %}"}>Providers</a></li>{% endblock %}

{% block content %}

    <h1>Providers</h1>

    <br>

    {% if provider_list %}
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Abbreviation</th>
                <th>Working Days Per Week</th>
                <th></th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {% for provider in provider_list %}
                <tr>
                    <td>{{ provider }}</td>
                    <td>{{ provider.abbrev }}</td>
                    <td>{{ provider.days_per_week }}</td>
                    <td align="right"><a href="{% url 'scheduler:provider-update' provider.id %}"><img alt="edit" src="{% static 'scheduler/img/pencil.png' %}" width=25" height="25">Edit</a></td>
                    <td align="right"><a href="{% url 'scheduler:provider-delete' provider.id %}"><img alt="delete" src="{% static 'scheduler/img/trash.png' %}" width=22" height="22">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No names in list.</p>
    {% endif %}

    <br>
    <br>

    <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Add a Provider
    </a>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
          <h3>Add a Provider</h3><br>
          <form action="" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input class="btn btn-primary" type="submit" value="Add">
          </form>
      </div>
    </div>

{% endblock %}
