{% extends "names/base.html" %}
{% load static %}

{% block content %}

    <h1>Names</h1>

    <br>



    {% if names_list %}

    <table class="table">
        {% for name in names_list %}
            <tr>
                <td>{{ name }}</td>
                <td align="right"><a href="{% url 'names:update' name.id %}"><img alt="edit" src="{% static 'scheduler/img/pencil.png' %}" width=25" height="25">Edit</a></td>
                <td align="right"><a href="{% url 'names:delete' name.id %}"><img alt="delete" src="{% static 'scheduler/img/trash.png' %}" width=25" height="25">Delete</a></td>
            </tr>
        {% endfor %}
        </ul>

    </table>
    {% else %}
        <p>No names in list.</p>
    {% endif %}

    <br>
    <br>

    <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Add a Name
    </a>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
          <h3>Add a Name</h3><br>
          <form action="" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input class="btn btn-primary" type="submit" value="Add">
          </form>
      </div>
    </div>

{% endblock %}
